[submodule "editor/extlibs/yaml-cpp"]
	path = editor/extlibs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "editor/extlibs/box2d"]
	path = editor/extlibs/box2d
	url = https://github.com/erincatto/box2d.git
