.idea/
build/
**/.DS_Store
cmake-build-debug/
cmake-build-release/
cmake/generated/
docs/html
docs/latex
venv/
editor/ext/glm
# C# stuff
bin/
obj/
depslibs/
# generates by cmake
OptionConfig.hpp
mono_build_config.h
#python 
scripts/__pycache__/
